
body {background-image: url("../img/bg.jpg"); }
.prof img
{
	border-radius: 50%;
	height:  200px;
	width:  200px;
}
div.prof
{
	text-align: center;
}
div.padding
{
	text-align: center;
}
div.qualifications
{
	text-align: center;
}
.GitHubIcon img
{
	border-radius: 50%;
	height:  120px;
	width:  120px;
	margin-right: 30px;
	float: left;
}

.TwitchIcon img
{
	height:  120px;
	width:  120px;
	margin-right: 30px;
	float: left;
}
.BlogIcon img
{
	height:  120px;
	width:  120px;
	margin-right: 30px;
	float: left;
}
.TwitterIcon img
{
	height:  120px;
	width:  120px;
	margin-right: 30px;
	float: left
}
.SteamIcon img
{
	height:  120px;
	width:  120px;
	margin-right: 30px;
	float: left
}
.MissKeyIcon img
{
	height:  120px;
	width:  120px;
	margin-right: 30px;
	float: left
}
.yoko {
  position: relative; 
  overflow: hidden; /* 下のulのcssでリスト全体を右に50%移動しているので、その分幅が広がってしまいスクロールバーが表示されてしまいます。それを防ぐ為の設定です。 */
}

.yoko ul {
  position: relative;
  left: 50%; /* リスト全体であるul要素を右に50%移動。つまり先頭を中央に持ってくる感じです。 */
  float: left;
}

.yoko ul li {
  position: relative;
  left: -50%; /* 各リスト項目になるli要素を左に50%移動。 */
  float: left;
  list-style: none; /* 項目にぼっちを出したくない場合はこれを設定（今回はあんまり関係ないですが） */
}